@import "./theme.less";
@import "~font-awesome/less/font-awesome.less";
@import "~toastr/toastr.less";


body {
  padding-top: 50px;
  padding-bottom: 20px;
}

footer {
  position: fixed;
  bottom: 0;
}

html, body, #main {
  max-width: 100%;
}

.text-small {
  .text-muted;
  font-size: .8em;
}

#main > * {
  @media (max-width: @screen-xs-max) {
    h1, h2, h3, h4, h5, h6, p, div {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  @media (min-width: @screen-sm-min) {
    padding: 0 20px;
  }
  background: @body-bg;
  top: 50px;
  left: 0;
  position: absolute;
  z-index: 10;
  width: 100%;
  border-top: none;
  border-bottom: none;
  box-sizing: border-box;
  box-shadow: -5px 0 30px black;
}

.navbar-toggle {
  border: none;
}

.task.list {
  .clearfix;
}

.list {
  .list-group;

  &> * {
    .list-group-item;
  }
}
